---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
	<section class="w-full h-screen flex items-center justify-center">
		<h1 class="text-4xl text-black">In development</h1>
	</section>
</Layout>