---
import Layout from '../../layouts/Layout.astro';
import WorkflowsCounter from '../../components/webhooks/WorkflowsCounter.svelte';
import { WorkflowsLinks } from '../../config';
---

<Layout>
    <section class="min-h-screen flex flex-col md:flex-row pt-24 pb-6">
        <!-- Left card (small introduction) -->
        <div class="relative w-full md:w-2/3 rounded-2xl border-black border-2 my-0.5 md:mx-0.5 flex flex-col">
            <!-- @todo showcase webhooks ability here in background -->

            <!-- Text -->
            <div class="ml-[auto] w-full md:w-2/3 text-right p-8">
                <h1 class="text-4xl md:text-7xl font-thin text-black">Get new content right away</h1>
                
                <p class="text-black text-sm md:text-md mt-4">
                    <span class="text-black font-bold">zeephyr webhooks</span> takes on the task of finding new content and distributing it to those who need it - i.e. you. Currently we are monitoring <span class="whitespace-nowrap rounded-full bg-purple-400 px-4 py-0.5 text-white font-medium">2 content sources (e621, e921)</span>, collecting the newest posts and giving information about them to our users.
                    
                    <br /><br />
                    
                    <span class="text-black text-opacity-50">Somebody might need it, right?</span>
                </p>
            </div>

            <!-- Bottom panel -->
            <div class="flex-grow p-2 flex flex-col-reverse">
                <!-- Bottom button -->
                <a href="/webhooks/docs" class="block w-full bg-black rounded-2xl text-center py-3 md:py-6 transition text-white hover:bg-white hover:text-black border-4 border-transparent hover:border-black">
                    <p class="text-md md:text-2xl font-medium">Open documentation</p>
                </a>
            </div>
        </div>

        <!-- Right card (stats cards) -->
        <div class="w-full md:w-1/3 rounded-2xl border-black border-2 my-0.5 md:mx-0.5 p-2 grid grid-rows-3 grid-cols-1 gap-2">
            <!-- Workflows count -->
            <div class="rounded-2xl bg-purple-400 bg-opacity-30 p-4">
                <!-- Header -->
                <div class="w-full flex items-center justify-between">
                    <h1 class="text-black text-xl">Workflows processed in the past <span class="underline">7 days</span></h1>
                
                    <!-- @todo help icon -->
                </div>

                <!-- Content -->
                <div class="mt-4">
                    <WorkflowsCounter client:load />
                </div>
            </div>

            <!-- @todo Subscribers count -->
            <!-- <div class="w-full h-full rounded-2xl bg-indigo-400 bg-opacity-30">
            </div> -->

            <!-- Active Scrapers information -->
            <div class="rounded-2xl bg-lime-400 bg-opacity-30 p-4">
                <!-- header -->
                <div class="flex justify-between">
                    <h1 class="text-black text-xl">Currently active scrapers</h1>
                
                    <!-- haha nice joke (this should be dynamic, no?) -->
                    <p class="text-xl underline">1/2</p>
                </div>
                
                <!-- Content -->
                <div class="mt-4 flex flex-wrap gap-2">
                    {[
                        { link: WorkflowsLinks["e621Scraper"], title: "e621" }, 
                        { link: "https://t.me/juiipup", title: "Want more?" }
                    ].map((entry) => (
                        <a href={ entry.link } class="block rounded-full text-white bg-black px-4 py-1 transition border-2 border-transparent hover:bg-transparent hover:text-black hover:border-black">
                            { entry.title }
                        </a>
                    ))}
                </div>
            </div>

            <!-- WIP -->
            <div class="rounded-2xl bg-violet-400 bg-opacity-30 p-4">
                <h1 class="text-xl">It's a little bit lonely here, isn't it?</h1>
                <p class="mt-4 text-sm">Well duh, it's because this site is <span class="line-through">a piece of crap made in 30 minutes</span> still in development. In very... slow development, yes. <a href="https://github.com/zeephyrk9" class="bg-black rounded-full text-white px-4 font-medium transition border-2 border-transparent hover:border-black hover:bg-transparent hover:text-black">Here is our GitHub</a>, by the way</p>
            </div>
        </div>
    </section>
</Layout>